/* * * *
* GLOBAL
* * * */
.about {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3d3d3d;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: 'Dinpro';
	color: white;
	@include medium {
		height: calc(100vh - 30px);
		margin: 15px;
	}
}

.about__container{
	display: flex;
	position: absolute;
	flex-direction: column;
	width: 40vw;
	justify-content: center;

}

	.aboutTitleEnd{
		opacity: 0.3;
		font-size: 70px;
		position: absolute;
		bottom: 0;
		margin: 0;
		right: 14px;
		display: block;

	}
