/* * * *
* MONTH BACK
* * * */
.april .month__backPicture {
    background: url(../img/april.jpeg);
    background-size: cover;
    background-position-x: 45%;
}

.april .month__backTheme {
    background: #26C281;
}

.april .month__backNext {
    background: #26C281;
}

.april .answer__leftFigure, .april .answer__rightFigure {
    background-color: #26C281;
}