/* * * *
* GLOBAL
* * * */

.home {
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(../img/bg1.jpeg) no-repeat fixed center; 
	background-size: cover;
	width: 97.5vw;
	height:95vh;
}

/* * * *
* TITLE BLOCK
* * * */

.home__title {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home__titleDate, .home__titleTitle {
	position: absolute;
	font-family: 'Europa-Bold';
	color: white;
}

.home__titleDate {
	font-size: 18rem;
	opacity: 0.2;
}

.home__titleTitle {
	font-size: 5rem;
}

/* * * *
* SCROLL BLOCK
* * * */
.home__scroll {
	display: flex;
	justify-content: center;
	align-self: flex-end;
	position: relative;
}

.home__scrollText {
	align-self: flex-start;
	position: absolute;
	font-family: 'Dinpro-Light';
	font-size: 2rem;
	color: white;
}

.home__scrollLine {
	align-self: flex-end;
	width: 1px;
	height: 8vh;
	margin-top: 8vh;
	background-color: white;
}