.home {
	background: url(../img/bg1.jpeg) no-repeat fixed center; 
	background-size: cover;
	width: 97.5vw;
	height:95vh;
	margin-top: 2.5vh;
}

.home__title {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.home__titleDate, .home__titleTitle {
	color: white;
	position: absolute;
	font-family: 'Europa-Bold';
}

.home__titleDate {
	font-size: 18rem;
	opacity: 0.2;
}

.home__titleTitle {
	font-size: 5rem;
}