body {
	margin: 0;
    overflow-x:hidden;
}

.page {
	display: flex;
	align-items: center;
	justify-content: center;
}

a:-webkit-any-link {
    text-decoration: none!important;
    color: inherit;
}
