/* * * *
* NAVBAR
* * * */
.navbar {
  align-self: flex-start;
  self-align: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  height: 7vh;
  width: 95vw;
}
.navbar__about {
  color: white;
  font-family: 'Dinpro';
  font-size: 1.2rem;
  text-decoration: none!important;
}

/* * * *
* MENU
* * * */
.menu img {
  width: 20px;
}

.menu__burgerOpen {
    margin: 35px 0 0 35px;
    position: fixed;
    z-index: 99;
}
.menu__open {
    float: right;
    color: white !important;
    font: 500 1.2rem 'Dinpro';
}
.menu__burgerCross{
	position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
}
.menu__burgerCrossimage{
	width: 38px;
}

.overlay{
	z-index:99;
	position:absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(61,61,61,1);
    display: flex;
    align-items: center;
    justify-content: center;
    font: 300 1.2rem 'Dinpro';
    font-size:25px;
    @include medium {
      height: calc(100vh - 30px);
      margin: 15px;
      width: 98vw;
  }
}

.wrap-nav {
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: space-between;
	height: 60vh;
	@include medium {
    	flex-wrap: wrap;
    	align-items: center;
    	justify-content: center;
    	height: 56%;
    	width: 65%;
    }
}
.wrap-nav li{
    list-style:none;
    text-decoration:none;
    @include medium{
    	height: 21%;
    	width: 30%;
    	text-align: center;
    }
}
.wrap-nav li a {
    text-align:center;
    color:white;
    text-decoration:none;
}
.wrap-nav li:hover{
    text-decoration: line-through;
}

/* * * *
* ABOUT
* * * */
.menu__about {
	color: white !important;
	font: 200 0.9rem 'Dinpro';
	text-transform: uppercase;
	margin: 35px 35px 0 0;
	position: fixed;
	right: 0;
  z-index: 99;
}

.about {
	z-index:5;
	position:absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(61,61,61,1);
	background-size: cover;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: 'Dinpro';
	font-weight: medium;
	color: white;
	@include medium {
		height: calc(100vh - 30px);
		margin: 15px;
		width: 98vw;
	}
}

.about__container{
	display: flex;
	position: absolute;
	flex-direction: column;
	width: 75vw;
	font-weight: lighter;
	letter-spacing: 1px;
	padding-bottom: 10vh;
	justify-content: center;
	@include medium {
		width: 60vw;
	}
	@include large {
		width: 40vw;
	};

}

.about__container h1 {
	font-size: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;

}

.about__title{
	opacity: 0.1;
	font-size: 95px;
	font-weight: bold;
	letter-spacing: 5px;
	position: absolute;
	bottom: -3vh;
	margin: 0;
	right: 14px;
	display: block;
	font-family: 'Europa';
}


.bullet-navigation {
  display: none;
  position: fixed;
  right: 3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.bullet-navigation.bullet-navigation--sticky {
  display: block;
}
.bullet-navigation li {
  display: block;
  margin: 0 1rem .5em 0;
}
.bullet-navigation li.active a {
  background: #fff;
  opacity: 0.3;
}
.bullet-navigation a {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: .7rem;
  height: .7rem;
  background: #fff;
  border: 3px solid white;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  border-radius: 50%;
}
.bullet-navigation a:hover {
  background: #fff;
  opacity: 0.3;
}
