/* * * *
* MONTH GLOBAL
* * * */
.month {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    @include medium {
        height: calc(100vh - 30px);
        width: calc(100vw - 30px);
    }
}

/* * * *
* MONTH FRONT
* * * */
.month__infos {
    position: absolute;
    width: 88%;
    height: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease 0s;
    @include mobile {
        transform: translateX(110%);
    }
    @include large {
        transform: translateX(-110%);
        width: 40%;
        height:auto;
        left:3%;
        padding-bottom: 7vh;
        z-index:2;
    }
}

.month__infosTitle {
    align-self: flex-start;
    height: 11%;
    z-index: 3;
    font-family: 'Dinpro';
    font-weight: 500;
    color: white;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;

    @include large {
        height:7vh;
    }


}

.month__infosContent {
    width: 100%;
    height: 75%;
    background: white;
    box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.65);
    @include large {
        height:auto;
    }
}

.month__infosContent h3 {
    font-family: 'Dinpro';
    font-weight: 500;
    font-size: 5vw;
    padding: 5%;
    margin: 0;
    @include large {
        font-size:2vw;
    }
}

.month__infosContent p {
    font-family: dinpro;
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
    padding: 0% 5% 5% 5%;
    line-height: 4vh;
    @include large {
        font-size:1.5vw;
    }
}

/* * * *
* MONTH BACK
* * * */
.month__back {
    width: 100%;
    height: 100%;
    @include large {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.month__backPicture {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s ease 0s;
    @include large {
        position: absolute!important;
        left: 0;
        z-index: 11;
    }
}

.month__backPicture--active {
    position: inherit;
    @include mobile {
        width: 100%;
        height: 40%;
        background-position: center;
    }
    @include large {
        width: 65% !important;
        height: 65% !important;
        right: 15px;
        left: inherit;
        z-index: 0;
    }
}

.month__backTheme {
    width: 100%;
    height: 35%;
    @include large {
        height:100%;
        width:50%;
        order: -1;
    }
}

.month__backSurvey {
    width: 100%;
    height: 20%;
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include large {
        width: 50%;
        height: 16%;
        right: 15px;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        align-self: flex-end;
    }
}

.backSurvey__question {
    font-family: 'Dinpro';
    transition: all 1s ease 0s;
    font-weight: 200;
    font-size: 1.1rem;
    @include mobile {
        padding: 8%;
    }
    @include large {
        width: 25vw;
        margin-left: 5%;
    }
}

.backSurvey__question--after {
    @include mobile {
        padding: 2%!important;
    }
}

.backSurvey__answer {
    display: flex;
    flex-grow: 1;
    font-family: 'Dinpro';
    font-weight: 400;
    @include large {
        align-items: center;
        height: 100%;
    }
}

.month__backNext {
    width: 100%;
    height: 5%;
    cursor: pointer;
    text-align: center;
    font-family: 'Dinpro';
    font-weight: 200;
    font-size: 1.3rem;
    color: white;
    line-height: 4.9vh;
    @include large {
        display:none;
    }
}

.answer__left, .answer__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include large {
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        height: 100%;
    }
}

.answer__leftText:hover, .answer__rightText:hover {
    text-decoration: line-through;
    cursor: pointer;
}

.answer__left {
    @include mobile {
        margin-right: 10vw;
    }
}

.answer__leftFigure, .answer__rightFigure {
    height: 0;
    width: 0;
    opacity: 0;
    font-size: .7rem;
    color: white;
    transition: all 1s ease 0s;
    @include large {
        order: -1;
    }
}

.answer__leftFigure--after, .answer__rightFigure--after {
    height: 100%!important;
    opacity: 1!important;
    @include large {
        width: 5vw;
    }
}
