/* * * *
* MONTH GLOBAL
* * * */
.month {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    @include medium {
        height: calc(100vh - 30px);
        width: calc(100vw - 30px);
    }
}

/* * * *
* MONTH FRONT
* * * */
.month__infos {
    position: absolute;
    width: 88%;
    height: 65%;
    transform: translateX(110%);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease 0s;
    @include large {
        width: 40%;
        left:3%;
        height:auto;
        z-index:2;
    }
}

.month__infosTitle {
    align-self: flex-start;
    height: 9%;
    z-index: 3;
    font-family: 'Dinpro';
    font-weight: 500;
    color: white;
    font-size: 3.3rem;
    text-align: center;
    text-transform: uppercase;

    @include large {
     height:8vh;
 }

}

.month__infosContent {
    width: 100%;
    height: 75%;
    background: white;
    box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.65);
    @include large {
        height:auto;
    }
}

.month__infosContent h3 {
    font-family: 'Dinpro';
    font-weight: 500;
    font-size: 5vw;
    padding: 5%;
    margin: 0;
    @include large {
        font-size:2vw;
    }
}

.month__infosContent p {
    font-family: dinpro;
    font-size: 3vw;
    font-weight: 200;
    margin: 0;
    padding: 0% 5% 5% 5%;
    line-height: 4vh;
    @include large {
        font-size:1.5vw;
    }
}

/* * * *
* MONTH BACK
* * * */
.month__back {
    width: 100%;
    height: 100%;
}

.month__backPicture {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s ease 0s;

    @include large {
        width: 65% !important;
        transform: translateY(18vh);
        float: right;
        height: 65% !important;
        z-index: 0;
    }

}

.month__backPicture--active {
    width: 100%;
    height: 40%;
    background-position: center;
    position: inherit;
}

.month__backTheme {
    width: 100%;
    height: 35%;
    @include large {
        height:100%;
        width:50%;
    }
}

.month__backSurvey {
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    @include large {
     width:50%;
     float:right;
     justify-content: flex-end;
     flex-direction:row;
     transform:translateY(-75%);
     align-items:flex-start;
 }
}

.backSurvey__question {
    font-family: 'Dinpro';
    font-weight: 200;
    font-size: 1.3rem;
    padding: 2%;
}

.backSurvey__answer {
    display: flex;
    flex-grow: 1;
    font-family: 'Dinpro';
    font-weight: 400;
}

.month__backNext {
    width: 100%;
    height: 5%;
    cursor: pointer;
    text-align: center;
    font-family: 'Dinpro';
    font-weight: 200;
    font-size: 1.3rem;
    color: white;
    line-height: 4.9vh;
    @include large {
        display:none;
    }
}

.answer__left, .answer__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.answer__left {
    margin-right: 10vw;
}

.answer__leftFigure, .answer__rightFigure {
    height: 100%;
    color: white;
}
