/* * * *
* TIMELINE
* * * */
.timeline {
    display: flex;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 30px;
}

.timeline__element {
    width: 9px;
    height: 9px;
    color: white;
    border-radius: 100%;
    list-style: none;
    background: #fff;
    margin-top: 100%;
    cursor: pointer;
}