/* * * *
* AUGUST
* * * */
.august .month__backPicture {
    background: url(../img/april.jpeg);
    background-size: cover;
    background-position-x: 45%;
}

.august .month__backTheme {
    background: $sport;
}

.august .month__backNext {
    background: $sport;
}

.august .answer__leftFigure, .august .answer__rightFigure {
    background-color: $sport;
}