/* * * *
* FEBRUARY
* * * */
.february {

    .month__backPicture {
        background-size: cover;
        background-position-x: 45%;
    }
    .month__backTheme {
        background: $culture;
    }

    .month__backNext {
        background: $culture;
    }

    .answer__leftFigure, .answer__rightFigure {
        background-color: $culture;
    }

}