/* * * *
* FEBRUARY
* * * */
.february {

    .month__backPicture {
        background-size: cover;
        background-position-x: 45%;
    }

    .month__backTheme {
        background: $culture;
    }

    .month__backNext {
        background: $culture;
    }

    .answer__left--after {
        @include large {
            height: 42%;
        }
    }

    .answer__right--after {
        @include large {
            height: 88%;
        }
    }

    .answer__leftText {
        @include mobile {
            margin-bottom: 9.2vh;
        }
    }

    .answer__rightText {
        @include mobile {
         margin-bottom: 1.8vh; 
     }
 }

 .answer__leftFigure, .answer__rightFigure {
    background-color: $culture;
}

}