/* * * *
* MONTH BACK
* * * */
.february .month__backPicture {
    background: url(../img/february.png);
    background-size: cover;
    background-position-x: 45%;
}

.february .month__backTheme {
    background: $culture;
}

.february .month__backNext {
    background: $culture;
}

.february .answer__leftFigure, .february .answer__rightFigure {
    background-color: $culture;
}