/* * * *
* MONTH BACK
* * * */
.january .month__backPicture {
    background: url(../img/january.jpeg);
    background-size: cover;
    background-position-x: 45%;
}

.january .month__backTheme {
    background: $innovation;
}

.january .month__backNext {
    background: $innovation;
}

.january .answer__leftFigure, .answer__rightFigure {
    background-color: $innovation;
}