/* * * *
* JANUARY
* * * */
.january {

    .month__backPicture {
        background: url(../img/january.jpeg);
        background-size: cover;
        background-position-x: 45%;
    }
    .month__backTheme {
        background: $innovation;
    }

    .month__backNext {
        background: $innovation;
    }

    .answer__leftFigure, .answer__rightFigure {
        background-color: $innovation;
    }
    
}