/* * * *
* JULY
* * * */
.july {
    
    .month__backPicture {
        background: url(../img/july.jpg);
        background-size: cover;
        background-position-x: 45%;
    }

    .month__backTheme {
        background: $sport;
    }

    .month__backNext {
        background: $sport;
    }

    .answer__leftFigure, .answer__rightFigure {
        background-color: $sport;
    }

}