/* * * *
* JULY
* * * */
.july {

    .month__backPicture {
        background-size: cover;
        background-position-x: 45%;
    }

    .month__backTheme {
        background: $sport;
    }

    .month__backNext {
        background: $sport;
    }

    .answer__left--after {
        @include large {
            height: 93%;
        }
    }

    .answer__right--after {
        @include large {
            height: 39%;
        }
    }

    .answer__leftText {
        @include mobile {
            margin-bottom: 2.1vh;
        }
    }

    .answer__rightText {
        @include mobile {
            margin-bottom: 8.9vh;
        }
    }

    .answer__leftFigure, .answer__rightFigure {
        background-color: $sport;
    }

}