/* * * *
* JUNE
* * * */
.june {
    
    .month__backPicture {
        background-size: cover;
        background-position-x: 45%;
    }

    .month__backTheme {
        background: $ecology;
    }

    .month__backNext {
        background: $ecology;
    }

    .answer__leftFigure, .answer__rightFigure {
        background-color: $ecology;
    }

}