/* * * *
* MONTH BACK
* * * */
.march .month__backPicture {
    background: url(../img/march.jpg);
    background-size: cover;
    background-position-x: 45%;
}

.march .month__backTheme {
    background: $ecology;
}

.march .month__backNext {
    background: $ecology;
}

.march .answer__leftFigure, .march .answer__rightFigure {
    background-color: $ecology;
}