/* * * *
* MAY
* * * */
.may {

    .month__backPicture {
        background: url(../img/may.png);
        background-size: cover;
        background-position-x: 45%;
    }

    .month__backTheme {
        background: $health;
    }

    .month__backNext {
        background: $health;
    }

    .answer__leftFigure, .answer__rightFigure {
        background-color: $health;
    }

}