/* * * *
* MONTH BACK
* * * */
.may .month__backPicture {
    background: url(../img/may.png);
    background-size: cover;
    background-position-x: 45%;
}

.may .month__backTheme {
    background: $health;
}

.may .month__backNext {
    background: $health;
}

.may .answer__leftFigure, .may .answer__rightFigure {
    background-color: $health;
}