/* * * *
* OCTOBER
* * * */
.october {

    .month__backPicture {
        background-size: cover;
        background-position-x: 45%;
    }

    .month__backTheme {
        background: $health;
    }

    .month__backNext {
        background: $health;
    }

    .answer__leftText {
        @include mobile {
           margin-bottom: 6.7vh; 
        }
    }

    .answer__rightText {
        @include mobile {
           margin-bottom: 4.3vh; 
        }
    }

    .answer__leftFigure, .answer__rightFigure {
        background-color: $health;
    }
    
}