/* * * *
* SEPTEMBER
* * * */
.september .month__backPicture {
    background: url(../img/may.png);
    background-size: cover;
    background-position-x: 45%;
}

.september .month__backTheme {
    background: $education;
}

.september .month__backNext {
    background: $education;
}

.september .answer__leftFigure, .september .answer__rightFigure {
    background-color: $eductation;
}