/* * * *
* SEPTEMBER
* * * */
.september {

    .month__backPicture {
        background: url(../img/may.png);
        background-size: cover;
        background-position-x: 45%;
    }

    .month__backTheme {
        background: $education;
    }

    .month__backNext {
        background: $education;
    }

    .answer__leftFigure, .answer__rightFigure {
        background-color: $eductation;
    }
    
}