@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
	@font-face {
		font-family: $font-family;
			src: url('../fonts/#{$file-path}.otf');
			font-weight: $font-weight;
			font-style: $font-style;
	}
}

@include font-face(Europa-Bold, Europa-Bold, normal, normal);
@include font-face(Dynpro-Light, DINPro-Light, normal, normal);